<style>
  form {
    float: left;
    margin-right: 50px
  }
  h1 {
    margin: 0
  }
</style>
<form>
  <h1>Vertical</h1>
  <%= cielo_controls :my_object, :field1, style: :vertical %>
  <%= submit_tag %>
</form>
<form>
  <h1>Horizontal</h1>
  <%= cielo_controls :my_object, :field2 %>
  <%= submit_tag %>
</form>

<%= form_for :my_object do |f| %>
  <h1>With Form Builder</h1>

  <%= f.cielo_controls :field %>
  <%= f.submit %>
<% end %>
